body,
html,
#canvas {
    background-color: #fff;
    background: radial-gradient(
        circle,
        rgba(255, 255, 255, 1) 0%,
        rgba(225, 225, 225, 1) 80%
    );
    font-family: "Titillium Web", sans-serif;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.contribution-data {
    margin: 0;
    opacity: 0;
    padding: 10px 20px;
    position: absolute;
    top: 0;
    right: 0;
    transition: opacity 200ms ease;
    z-index: 1;
}

.contribution-data__text {
    font-size: 24px;
}

.landing-screen {
    background-color: #fff;
    background: radial-gradient(
        circle,
        rgba(255, 255, 255, 1) 0%,
        rgba(225, 225, 225, 1) 80%
    );
    opacity: 1;
    position: absolute;
    left: 0;
    top: 0;
    transition: opacity 300ms ease;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.landing-screen__message {
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    padding: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.landing-screen__message__header {
    font-size: 28px;
    margin-bottom: 30px;
}

.landing-screen__message__sub-header {
    font-size: 22px;
    margin-bottom: 40px;
    line-height: 1.5;
}

.landing-screen__message__input {
    display: block;
    font-size: 20px;
    margin-bottom: 20px;
    padding: 20px;
    width: calc(100% - 40px);
}

.landing-screen__submit {
    border: 1px solid black;
    background: black;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    outline: transparent;
    padding: 15px 20px;
    transition: all 200ms ease;
}

.landing-screen__submit:hover {
    background: #fff;
    color: #000;
}
